*.png
*.pkl
*.csv
*.zip
*.pth
*.npy
forget_id_files/
data/
__pycache__/
faces/
cropped_faces/
_torchshow/
client_secrets.json
.vscode
client_secrets.json
creds_1.json
publisher_key.json
Compute_AUS_table_1.py
Compute_AUS_table_2.py
table_1.tex
table_2.tex
data